<style>
  .services {
    padding: 50px 0;
    position: relative;
    top: 0;
    background-color: #f8f9fa;
    height: auto;
  }

  .card {
    border: none;
    border-radius: 20px; /* Réduit le rayon des coins pour les appareils mobiles */
    transition: 0.4s;
  }

  .btn-primary {
    background-color: #f4623a;
    border-color: #f4623a;
  }

  .btn-primary:hover {
    background-color: #f4623a;
    border-color: #f4623a;
  }

  .card:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }

  /* Ajout de styles pour les images des services */
  .card-img {
    width: 50px; /* Taille de l'image ajustée pour les appareils mobiles */
    height: 50px; /* Taille de l'image ajustée pour les appareils mobiles */
    border-radius: 10px; /* Réduit le rayon des coins pour les appareils mobiles */
  }
</style>

<section class="container-fluid py-5" id="services">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2 class="section-heading text-uppercase font-1">Services</h2>
      <h3 class="section-subheading text-muted">Découvrez ce que nous pouvons faire pour vous.</h3>
      <hr class="divider my-4">
    </div>
  </div>
  <div class="row text-center">
    {% for service in services %}
      {% if service.affichage == 1 %}
      <div class="col-md-6 mb-4">
        <div class="card h-100 d-flex align-items-stretch">
          <div class="row no-gutters">
            <div class="col-md-12 col-sm-3 mt-3 text-center"> <!-- Ajustement de la colonne pour les appareils mobiles -->
              <img class="card-img" src="{{ asset('assets/servicesImg/' ~ service.ImageName) }}" alt="{{ service.Nom }}">
            </div>
            <div class="col-md-12 col-sm-9"> <!-- Ajustement de la colonne pour les appareils mobiles -->
              <div class="card-body text-left">
                <h4 class="card-title">{{ service.Nom }}</h4>
                <p class="card-text text-muted">{{ service.Description }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    {% endfor %}
  </div>
</section>
