<style>
.stagesDev {
  padding: 50px 0;
  position: relative;
  top: 0;
  background-color: #f8f9fa;
  height: auto;
}

.card {
  border: none;
  border-radius: 50px;
  transition: 0.4s;
}

.btn-primary {
  background-color: #f4623a;
  border-color: #f4623a;
}

.btn-primary:hover {
  background-color: #f4623a;
  border-color: #f4623a;
}

.card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
</style>


  <div class="container-fluid bg-dark py-5" id="stagesDev">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="section-heading text-uppercase text-white">Comment nous travaillons</h2>
        <h3 class="section-subheading" style="color: #f5f5dc;">Découvrez les étapes de conception de votre projet.</h3>
        <hr class="divider my-4">
      </div>
    </div>
    <div class="row"
    
  