{% extends 'base.html.twig' %}

{% block title %}Conditions Générales d'Utilisation | DevByAntho{% endblock %}

{% block body %}
{% include "partials/_nav.html.twig" %}
<div class="cgu-container" style="padding:15vh 0 ;">
    <h1>Conditions Générales d'Utilisation</h1>
    <p><strong>En vigueur au 20/05/2024</strong></p>

    <p>Les présentes conditions générales d'utilisation (dites « CGU ») ont pour objet l'encadrement juridique des modalités de mise à disposition du site et des services par Dev by Antho et de définir les conditions d’accès et d’utilisation des services par « l'Utilisateur ».</p>
    <p>Les présentes CGU sont accessibles sur le site à la rubrique «CGU».</p>

    <h2>ARTICLE 1 : LES MENTIONS LÉGALES</h2>
    <p>L'édition du site <a href="http://www.devbyantho.fr">http://www.devbyantho.fr</a> est assurée par la Société Entreprise individuelle Dev by Antho, immatriculée au RCS d'EPINAL sous le numéro 928420090, dont le siège social est situé au 34 Rue de la Mairie.</p>
    <p>Numéro de téléphone : 0610049648</p>
    <p>Adresse e-mail : <a href="mailto:contact@devbyantho.fr">contact@devbyantho.fr</a></p>
    <p>Le Directeur de la publication est : Merguin Anthony</p>
    <p>L'hébergeur du site <a href="http://www.devbyantho.fr">http://www.devbyantho.fr</a> est la société HOSTINGER INTERNATIONAL LTD, dont le siège social est situé au 61 Lordou Vironos Street, 6023 Larnaca, Chypre.</p>

    <h2>ARTICLE 2 : ACCÈS AU SITE</h2>
    <p>Le site <a href="http://www.devbyantho.fr">http://www.devbyantho.fr</a> permet à l'Utilisateur un accès gratuit aux services suivants :</p>
    <ul>
        <li>Développement Web</li>
        <li>Graphisme</li>
    </ul>
    <p>Le site est accessible gratuitement en tout lieu à tout Utilisateur ayant un accès à Internet. Tous les frais supportés par l'Utilisateur pour accéder au service (matériel informatique, logiciels, connexion Internet, etc.) sont à sa charge.</p>

    <h2>ARTICLE 3 : COLLECTE DES DONNÉES</h2>
    <p>Le site assure à l'Utilisateur une collecte et un traitement d'informations personnelles dans le respect de la vie privée conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés.</p>
    <p>En vertu de la loi Informatique et Libertés, en date du 6 janvier 1978, l'Utilisateur dispose d'un droit d'accès, de rectification, de suppression et d'opposition de ses données personnelles. L'Utilisateur exerce ce droit :</p>

    <h2>ARTICLE 4 : PROPRIÉTÉ INTELLECTUELLE</h2>
    <p>Les marques, logos, signes ainsi que tous les contenus du site (textes, images, son…) font l'objet d'une protection par le Code de la propriété intellectuelle et plus particulièrement par le droit d'auteur.</p>
    <p>L'Utilisateur doit solliciter l'autorisation préalable du site pour toute reproduction, publication, copie des différents contenus. Il s'engage à une utilisation des contenus du site dans un cadre strictement privé, toute utilisation à des fins commerciales et publicitaires est strictement interdite.</p>
    <p>Toute représentation totale ou partielle de ce site par quelque procédé que ce soit, sans l’autorisation expresse de l’exploitant du site Internet constituerait une contrefaçon sanctionnée par l’article L 335-2 et suivants du Code de la propriété intellectuelle.</p>
    <p>Il est rappelé conformément à l’article L122-5 du Code de propriété intellectuelle que l’Utilisateur qui reproduit, copie ou publie le contenu protégé doit citer l’auteur et sa source.</p>

    <h2>ARTICLE 5 : RESPONSABILITÉ</h2>
    <p>Les sources des informations diffusées sur le site <a href="http://www.devbyantho.fr">http://www.devbyantho.fr</a> sont réputées fiables mais le site ne garantit pas qu’il soit exempt de défauts, d’erreurs ou d’omissions.</p>
    <p>Les informations communiquées sont présentées à titre indicatif et général sans valeur contractuelle. Malgré des mises à jour régulières, le site <a href="http://www.devbyantho.fr">http://www.devbyantho.fr</a> ne peut être tenu responsable de la modification des dispositions administratives et juridiques survenant après la publication. De même, le site ne peut être tenu responsable de l’utilisation et de l’interprétation de l’information contenue dans ce site.</p>
    <p>Le site <a href="http://www.devbyantho.fr">http://www.devbyantho.fr</a> ne peut être tenu pour responsable d’éventuels virus qui pourraient infecter l’ordinateur ou tout matériel informatique de l’Internaute, suite à une utilisation, à l’accès, ou au téléchargement provenant de ce site.</p>
    <p>La responsabilité du site ne peut être engagée en cas de force majeure ou du fait imprévisible et insurmontable d'un tiers.</p>

    <h2>ARTICLE 6 : LIENS HYPERTEXTES</h2>
    <p>Des liens hypertextes peuvent être présents sur le site. L’Utilisateur est informé qu’en cliquant sur ces liens, il sortira du site <a href="http://www.devbyantho.fr">http://www.devbyantho.fr</a>. Ce dernier n’a pas de contrôle sur les pages web sur lesquelles aboutissent ces liens et ne saurait, en aucun cas, être responsable de leur contenu.</p>

    <h2>ARTICLE 7 : COOKIES</h2>
    <p>L’Utilisateur est informé que lors de ses visites sur le site, un cookie peut s’installer automatiquement sur son logiciel de navigation.</p>
    <p>Les cookies sont de petits fichiers stockés temporairement sur le disque dur de l’ordinateur de l’Utilisateur par votre navigateur et qui sont nécessaires à l’utilisation du site <a href="http://www.devbyantho.fr">http://www.devbyantho.fr</a>. Les cookies ne contiennent pas d’information personnelle et ne peuvent pas être utilisés pour identifier quelqu’un. Un cookie contient un identifiant unique, généré aléatoirement et donc anonyme. Certains cookies expirent à la fin de la visite de l’Utilisateur, d’autres restent.</p>
    <p>L’information contenue dans les cookies est utilisée pour améliorer le site <a href="http://www.devbyantho.fr">http://www.devbyantho.fr</a>. En naviguant sur le site, L’Utilisateur les accepte. L’Utilisateur pourra désactiver ces cookies par l’intermédiaire des paramètres figurant au sein de son logiciel de navigation.</p>

    <h2>ARTICLE 8 : DROIT APPLICABLE ET JURIDICTION COMPÉTENTE</h2>
    <p>La législation française s'applique au présent contrat. En cas d'absence de résolution amiable d'un litige né entre les parties, les tribunaux français seront seuls compétents pour en connaître.</p>
    <p>Pour toute question relative à l’application des présentes CGU, vous pouvez joindre l’éditeur aux coordonnées inscrites à l’ARTICLE 1.</p>
</div>
{% include "partials/_footer.html.twig" %}
{% endblock %}
