{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité | DevByAntho{% endblock %}

{% block body %}
{% include "partials/_nav.html.twig" %}
<div class="container" style="padding:15vh 0 ;">
    <h1 class="display-4 text-center">Politique de confidentialité</h1>
    <div class="mt-4 mb-5">
        <p>Dernière mise à jour : <strong>20 Mai 2024</strong></p>
        <p>Votre confidentialité est importante pour nous. Cette politique de confidentialité explique comment <strong>DevByAntho</strong> collecte, utilise, divulgue et protège vos informations personnelles lorsque vous utilisez notre site Web <strong>devbyantho.fr</strong>.</p>
    </div>
    
    <h2>Collecte des renseignements personnels</h2>
    <p>Nous collectons les informations personnelles suivantes :</p>
    <ul class="list-unstyled">
        <li><i class="fas fa-check"></i> Prénom</li>
        <li><i class="fas fa-check"></i> Adresse électronique</li>
        <li><i class="fas fa-check"></i> Numéro de téléphone / télécopieur</li>
    </ul>
    <p>Ces renseignements sont collectés via des formulaires et grâce à l’interactivité établie entre vous et notre site Web.</p>
    
    <h2>Formulaires et interactivité</h2>
    <p>Vos renseignements personnels sont collectés par le biais de formulaires, notamment :</p>
    <ul class="list-unstyled">
        <li><i class="fas fa-check"></i> Formulaire de commande</li>
    </ul>
    <p>Nous utilisons les renseignements ainsi collectés pour les finalités suivantes :</p>
    <ul class="list-unstyled">
        <li><i class="fas fa-check"></i> Suivi de la commande</li>
        <li><i class="fas fa-check"></i> Informations / Offres promotionnelles</li>
        <li><i class="fas fa-check"></i> Contact</li>
    </ul>
    
    <h2>Droit d’opposition et de retrait</h2>
    <p>Nous nous engageons à vous offrir un droit d’opposition et de retrait quant à vos renseignements personnels.</p>
    <p>Le droit d’opposition s’entend comme étant la possibilité offerte aux internautes de refuser que leurs renseignements personnels soient utilisés à certaines fins mentionnées lors de la collecte.</p>
    <p>Le droit de retrait s’entend comme étant la possibilité offerte aux internautes de demander à ce que leurs renseignements personnels ne figurent plus, par exemple, dans une liste de diffusion.</p>
    <p><strong>Pour pouvoir exercer ces droits, vous pouvez :</strong></p>
    <ul class="list-unstyled">
        <li><i class="fas fa-envelope"></i> Courriel : contact@devbyantho.fr</li>
        <li><i class="fas fa-phone"></i> Téléphone : 0610049648</li>
        <li><i class="fas fa-map-marker-alt"></i> Code postal : 34, rue de la mairie 88430 BIFFONTAINE</li>
    </ul>
    
    <h2>Droit d’accès</h2>
    <p>Nous nous engageons à reconnaître un droit d’accès et de rectification aux personnes concernées désireuses de consulter, modifier, voire radier les informations les concernant.</p>
    <p><strong>L’exercice de ce droit se fera :</strong></p>
    <ul class="list-unstyled">
        <li><i class="fas fa-envelope"></i> Courriel : contact@devbyantho.fr</li>
        <li><i class="fas fa-phone"></i> Téléphone : 0610049648</li>
        <li><i class="fas fa-map-marker-alt"></i> Code postal : 34, rue de la mairie 88430 BIFFONTAINE</li>
    </ul>
    
    <h2>Sécurité</h2>
    <p>Les renseignements personnels que nous collectons sont conservés dans un environnement sécurisé. Les personnes travaillant pour nous sont tenues de respecter la confidentialité de vos informations.</p>
    <p>Pour assurer la sécurité de vos renseignements personnels, nous avons recours aux mesures suivantes :</p>
    <ul class="list-unstyled">
        <li><i class="fas fa-lock"></i> Protocole SSL</li>
        <li><i class="fas fa-lock"></i> Protocole SET</li>
        <li><i class="fas fa-lock"></i> Gestion des accès - personne autorisée</li>
        <li><i class="fas fa-lock"></i> Gestion des accès - personne concernée</li>
        <li><i class="fas fa-lock"></i> Logiciel de surveillance du réseau</li>
        <li><i class="fas fa-lock"></i> Sauvegarde informatique</li>
        <li><i class="fas fa-lock"></i> Identifiant / mot de passe</li>
        <li><i class="fas fa-lock"></i> Pare-feu</li>
    </ul>
    <p>Nous nous engageons à maintenir un haut degré de confidentialité en intégrant les dernières innovations technologiques permettant d’assurer la confidentialité de vos transactions. Toutefois, comme aucun mécanisme n’offre une sécurité maximale, une part de risque est toujours présente lorsque l’on utilise Internet pour transmettre des renseignements personnels.</p>
    
    <h2>Législation</h2>
    <p>Nous nous engageons à respecter les dispositions législatives énoncées dans le Règlement général sur la protection des données (RGPD).</p>
</div>
{% include "partials/_footer.html.twig" %}
{% endblock %}
