<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Coming Soon | Dev by Antho</title>
  </head>
  <body>
    <main>
      <div class="content">
        <h1>Dev by Antho</h1>
        <p>Site en construction</p>
        <p class="message">Ne paniquez pas !</p>
        <p class="message">
          Pour toute urgence, contactez-nous au <br />
          <a href="tel:0601331080">06 01 33 10 80</a> <br />ou envoyez-nous un
          e-mail à <br />
          <a href="mailto:contact@devbyantho.fr">contact@devbyantho.fr</a>.
        </p>
      </div>
    </main>
  </body>
</html>
